@font-face {
  font-family: 'YiRenHuaKaiYiRenHuaLuo';
  src: url('/css/page/font/YiRenHuaKaiYiRenHuaLuo-2.ttf') format('truetype');
}

@font-face {
  font-family: 'HanYiChangMeiHeiJian';
  src: url('/css/page/font/HanYiChangMeiHeiJian-1.ttf') format('truetype');
}

@font-face {
  font-family: 'YeZiGongChangShanHaiMingChao';
  src: url('/css/page/font/YeZiGongChangShanHaiMingChao-2.ttf') format('truetype');
}

/* --------------------------------- 思源黑体 ----------------------------------- */
@font-face {
  font-family: '思源黑体 Light';
  font-weight: 300;
  src: url('/css/page/font/Source_Han_Sans_SC/Source_Han_Sans_SC_Light_Light.otf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: '思源黑体 Normal';
  font-weight: 350;
  src: url('/css/page/font/Source_Han_Sans_SC/Source_Han_Sans_SC_Normal_Normal.otf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: '思源黑体 Regular';
  font-weight: 400;
  src: url('/css/page/font/Source_Han_Sans_SC/Source_Han_Sans_SC_Regular.otf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: '思源黑体 Medium';
  font-weight: 500;
  src: url('/css/page/font/Source_Han_Sans_SC/Source_Han_Sans_SC_Medium_Medium.otf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: '思源黑体 Bold';
  font-weight: 700;
  src: url('/css/page/font/Source_Han_Sans_SC/Source_Han_Sans_SC_Bold.otf') format('woff2');
  font-display: swap;
}

/* --------------------------------- 仓耳渔阳体 -------------------------------------- */
@font-face {
  font-family: '仓耳渔阳体 W01';
  font-weight: 400;
  src: url('/css/page/font/TsangerYuYangT/TsangerYuYangT_W01_W01.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '仓耳渔阳体 W02';
  font-weight: 400;
  src: url('/css/page/font/TsangerYuYangT/TsangerYuYangT_W02_W02.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '仓耳渔阳体 W03';
  font-weight: 400;
  src: url('/css/page/font/TsangerYuYangT/TsangerYuYangT_W03_W03.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '仓耳渔阳体 W04';
  font-weight: 400;
  src: url('/css/page/font/TsangerYuYangT/TsangerYuYangT_W04_W04.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '仓耳渔阳体 W05';
  font-weight: 400;
  src: url('/css/page/font/TsangerYuYangT/TsangerYuYangT_W04_W04.ttf') format('truetype');
  font-display: swap;
}

/* --------------------------------- 东方大楷 -------------------------------------- */
@font-face {
  font-family: '东方大楷 Regular';
  font-weight: 400;
  src: url('/css/page/font/DongFangDaKai/DongFangDaKai_Regular.ttf') format('truetype');
  font-display: swap;
}

/* --------------------------------- 东方大楷 -------------------------------------- */
@font-face {
  font-family: '思源宋体 Regular';
  font-weight: 400;
  src: url('/css/page/font/Siyuan_Song_Typeface/Siyuan_Song_Typeface.woff2') format('woff2'),
    url('/css/page/font/Siyuan_Song_Typeface/Siyuan_Song_Typeface.woff') format('woff');
  font-display: swap;
}
