@font-face {
  font-family: 'YiRenHuaKaiYiRenHuaLuo';
  src: url('/css/page/font/YiRenHuaKaiYiRenHuaLuo-2.ttf') format('truetype');
}

@font-face {
  font-family: 'HanYiChangMeiHeiJian';
  src: url('/css/page/font/HanYiChangMeiHeiJian-1.ttf') format('truetype');
}

@font-face {
  font-family: 'YeZiGongChangShanHaiMingChao';
  src: url('/css/page/font/YeZiGongChangShanHaiMingChao-2.ttf') format('truetype');
}

@import url('./page-header.css');

#web_bg {
  /* background: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)); */
}

/* 主页所有文章页面背景 */
#aside_content .card-widget,
#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  /* 以下代表透明度为0.5 */
  /* background: rgba(255, 255, 255, 0.5); */
}

/*侧边栏页面*/
#aside-content > .card-widget {
  /* background: rgba(255, 255, 255, 0.5); */
}

#aside-content > .sticky_layout > .card-widget {
  /* background: rgba(255, 255, 255, 0.5); */
}

/*文章页面*/
.layout > #post {
  /* background: rgba(255, 255, 255, 0.5); */
}

/*分类页面*/
.layout > #page {
  /* background: rgba(255, 255, 255, 0.5); */
}

/*时间轴页面*/
.layout > #archive {
  /* background: rgba(255, 255, 255, 0.5); */
}

/* 页面loading */
#loading-box {
  position: relative;
  z-index: 1000000;
}

/* 小风车一直转 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* avatar_turn_around 3s linear infinite */
#article-container h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  font-family: 'iconfont' !important;
  content: '\e6e0' !important;
  animation: spin 3s linear infinite;
  margin-top: -2px;
}
