@font-face {
  font-family: "iconfont"; /* Project id 3489927 */
  src: url('iconfont.woff2?t=1680138918615') format('woff2'),
       url('iconfont.woff?t=1680138918615') format('woff'),
       url('iconfont.ttf?t=1680138918615') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-windmill:before {
  content: "\e6e0";
}

.icon-csdn1:before {
  content: "\e60a";
}

.icon-shuji:before {
  content: "\e698";
}

.icon-csdn:before {
  content: "\e60c";
}

.icon-guanyu:before {
  content: "\e60b";
}

.icon-jurassic_message:before {
  content: "\e69d";
}

